* {
    margin: 0;
    padding: 0;
}

#navbar-superior {
    width: 100%;
    height: 100px;
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

#IMGHEADER {
    width: 48px;
    height: 48px;
    margin-left: 20px;
    float: left;
}

#txt {
    float: left;
    align-self: center;
    margin-left: 70px;
    font-size: x-large;
    font-family: sans-serif;
}

#searchbar {
    width: 50%;
    margin-left: 50px;
}

#navbar-links {
    width: 15%;
    height: 485px;
    background-color: darkblue;
    display: block;
    text-decoration: none;
}

.list {
    list-style: none;   
}

.links {
    width: 70%;
    height: 40px;
    background-color: blue;
    margin-bottom: 20px;
    margin-left: 28px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.anchor {
    color: white;
    text-decoration: none;
}